<div class="flex justify-between w-full">
  <!--! NAV -->
  <section class="w-full flex justify-center">
    @if (userService.user()) {
      <div class="flex flex-col w-3/4 gap-5">
        <div class="div-profile-head flex items-center">
          <!--! Profile Pic -->
          <div class="div-profile-picture-container">
            <p-avatar
              [image]="userService.user()!.pfpUrl || Images[6]"
              class="mr-2 align-se"
              size="xlarge"
              shape="circle"
            />
          </div>
          <!--! ProfileComponent Details -->
          <div class="div-profile-details">
            <div class="div-profile-states flex flex-col gap-2 w-full">
              <!--! Username -->
              <div class="flex gap-5">
                <h1 class="span-username text-4xl">
                  {{ userService.user()!.username }}
                </h1>
                <!--! Edit icon  -->
                <p-button
                  class="edit-button"
                  variant="text"
                  severity="secondary"
                  size="large"
                  icon="pi pi-cog"
                  (click)="userService.visibleEditDialog = true"
                  routerLink="/profile/{{ username() }}/edit"
                />
              </div>
              <!--! Account follow numbers  -->

              <span class="span-stats w-full"
                >Followers: <b>{{ userService.user()!.followers?.length || 0 }}</b>
                <b> | </b> Following: <b>{{ userService.user()!.following?.length }} </b> <br />
                Posts: <b>{{ userService.user()!.posts?.length || '0' }}</b></span
              >
              <!--! Bio  -->
              <span class="bio text-wrap">{{ userService.user()!.bio }} </span>
            </div>
            <p-button
              class=""
              size="large"
              label="Follow"
              [label]="isFollowed() ? 'UnFollow' : 'Follow'"
              (onClick)="toggleFollow()"
              [icon]="isFollowed() ? 'pi pi-times' : 'pi pi-plus'"
              [severity]="isFollowed() ? 'secondary' : 'success'"
              fluid="true"
            />
            <!--! Action Buttons  -->
          </div>
        </div>

        <!--! Stories -->
        <div class="div-stories flex gap-5 overflow-x-auto overflow-y-visible">
          @for (storyCoverImage of userService.user()!.stories; track $index) {
            <img class="img-story rounded-full" src="/{{ storyCoverImage }}" alt="" />
          }
          <!--! Posts  -->
        </div>
        <app-profile-body />
      </div>
    }
  </section>
  <!--! Dialogs  -->
  <router-outlet />
</div>
