<div class="d-flex justify-content-between w-100">
  <a routerLink="signup" class="text-decoration-none">
    <p-button
      class="p-button-dialog position-absolute"
      (onClick)="userService.visibleSignupDialog = true"
      label="Sign up
"
    >
    </p-button>
  </a>

  <!--! NAV -->
  <section class="w-100 d-flex justify-content-center">
    @if (userService.user()) {
      <div class="d-flex flex-column w-75 gap-5">
        <div class="div-profile-head d-flex align-items-center">
          <!--! Profile Pic -->
          <div class="div-profile-picture-container">
            <p-avatar
              [image]="userService.user()!.pfpUrl || Images[6]"
              class="mr-2 align-se"
              size="xlarge"
              shape="circle"
            />
          </div>
          <!--! ProfileComponent Details -->
          <div class="div-profile-details">
            <div class="div-profile-states d-flex flex-column gap-2 w-100">
              <!--! Username -->
              <div class="d-flex gap-5">
                <h1 class="span-username">
                  {{ userService.user()!.username }}
                </h1>
                <!--! Edit icon  -->
                <p-button
                  class="edit-button"
                  variant="text"
                  severity="secondary"
                  size="large"
                  icon="pi pi-cog"
                  (click)="userService.visibleEditDialog = true"
                  routerLink="/profile/{{ username() }}/edit"
                />
              </div>
              <!--! Account follow numbers  -->

              <span class="span-stats w-100"
                >Followers: <b>{{ userService.user()!.followers!.length || 0 }}</b>
                <b> | </b> Following: <b>{{ userService.user()!.following?.length }} </b> <br />
                Posts: <b>{{ userService.user()!.posts?.length || '0' }}</b></span
              >
              <!--! Bio  -->
              <span class="bio text-wrap">{{ userService.user()!.bio }} </span>
            </div>
            <p-button
              class=""
              size="large"
              label="Follow"
              [label]="isFollowed() ? 'UnFollow' : 'Follow'"
              (onClick)="toggleFollow()"
              [icon]="isFollowed() ? 'pi pi-times' : 'pi pi-plus'"
              [severity]="isFollowed() ? 'secondary' : 'success'"
              fluid="true"
            />
            <!--! Action Buttons  -->
          </div>
        </div>

        <!--! Stories -->
        <div class="div-stories d-flex gap-5 overflow-x-scroll overflow-y-visible">
          @for (storyCoverImage of userService.user()!.stories; track $index) {
            <img class="img-story rounded-circle" src="/{{ storyCoverImage }}" alt="" />
          }
          <!--! Posts  -->
        </div>
        <app-profile-body />
      </div>
    }
  </section>
  <!--! Dialogs  -->
  <router-outlet />
</div>
