nav {
  position: fixed;
  width: 100vw;
  height: 10rem;
  bottom: 1%;
  z-index: 150;
}
.navigation-card {
  bottom: 0%;
  /* left: 50%; */
  width: fit-content;
  height: fit-content;
  background-color: #3e3d3d7c;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
}
.tab {
  width: 5rem;
  height: 5rem;
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.tab--active {
  color: teal;
  background-color: #43c6b91f;
}
.tab--active i {
  color: #43c6b8;
}
