nav {
  position: fixed;
  width: 100vw;
  height: 10rem;
  bottom: 1%;
  z-index: 150;
}
.navigation-card {
  bottom: 0%;
  /* left: 50%; */
  width: fit-content;
  height: fit-content;
  background-color: #3e3d3d7c;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
}
.tab {
  width: 5rem;
  height: 5rem;
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
}
.tab--active {
  background-color: #3e3d3d91;
}
/* From Uiverse.io by JohnnyCSilva */
.card {
  font-size: 1.6rem;
  padding: 1rem;
  width: fit-content;
  min-width: 30rem;
  height: 7rem;
  background: #353535;
  border-radius: 2rem;
  backdrop-filter: blur(1rem);
  transition: 150ms;
}
.bio {
  font-size: 1.2rem;
  color: rgba(190, 189, 189, 0.808);
}

::ng-deep .card:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 1rem 0.5rem 2rem 0.5rem #78dab931;
}
