<div
  (mouseover)="onMouseover()"
  (mouseout)="onMouseout()"
  class="relative z-10 inline-block w-full"
>
  <div
    #likes
    class="likes absolute z-50 whitespace-nowrap"
    animate.enter="enter-animation"
    [innerHTML]="post()?.likes! | likes: { testProp: 11, testProp2: 12 }"
  ></div>
  <img
    class="w-full! duration-500"
    (click)="toggleExpandedPost()"
    #img
    src="/{{ post()?.media }}"
    alt="🌻img"
  />
  <p-dialog
    [header]="'@' + post()?.username || 'Unknown User'"
    closable="true"
    appendTo="body"
    draggable="false"
    resizable="true"
    [modal]="true"
    [(visible)]="expandedPost"
    [dismissableMask]="true"
    [style]="{ width: '60rem', 'max-width': '95vw' }"
  >
    <div
      class="flex gap-4 justify-between items-stretch w-full"
      [style]="{
        height: '40rem',
      }"
    >
      <div class="flex flex-col max-w-sm">
        <p-image [src]="post()?.media" appendTo="body" preview="true" />
        <div class="flex gap-3">
          <span class="text-gray-400">Posted: {{ post()?.createdAt | date }}</span>
          <span [innerHTML]="post()?.likes! | likes"></span>
        </div>
        <div class="flex gap-4">
          <p-button
            size="large"
            appBounceUp
            [style]="{
              background: 'none',
              border: 'none',
            }"
            icon="pi pi-send"
          />
          <p-button
            (click)="like()"
            size="large"
            appBounceUp
            [style]="{
              background: 'none',
              border: 'none',
            }"
            icon="pi pi-heart"
          />
          <p-button
            size="large"
            appBounceUp
            [style]="{
              background: 'none',
              border: 'none',
            }"
            icon="pi pi-comment"
          />
        </div>
      </div>
      <section class="flex flex-col justify-between h-full flex-1">
        <div class="flex flex-col gap-5 overflow-y-auto" [style]="{ 'min-height': 0 }">
          <drag-scroll [drag-scroll-x-disabled]="true">
            @for (comment of post()?.comments; track $index) {
              <div drag-scroll-item class="x-card p-1">
                <div class="flex items-center p-3 gap-3">
                  <div class="x-avatar">{{ comment.username[0] }}</div>
                  <div>
                    <h5 class="mb-0 font-semibold comment-usernmae text-base text-zinc-200">
                      {{ comment.username }}
                    </h5>
                  </div>
                </div>

                <div class="px-3 pb-3">
                  <p class="mb-0 break-words text-wrap text-lg text-zinc-300">
                    {{ comment.content }}
                  </p>
                </div>

                <div class="x-actions flex justify-end gap-3 items-center p-3">
                  <button class="btn-reply">
                
                    <i class="pi pi-comment" style="font-size: 1.5rem;"></i>
                    <span>{{ comment.replies }}</span>
                  </button>

                  <button class="btn-like">
                  
                    <i class="pi pi-heart" style="font-size: 1.5rem;"></i>
                    <span>{{ comment.likes }}</span>
                  </button>

                  <button class="btn-share">
                    <i class="pi pi-send" style="font-size: 1.5rem;"></i>
                  </button>
                </div>
              </div>
            }
          </drag-scroll>
        </div>
      </section>
    </div>
  </p-dialog>
</div>
