<p-tabs value="0" class="">
  <p-tablist>
    <p-tab value="0" class="pi pi-video"></p-tab>
    <p-tab value="1" class="pi pi-bookmark"></p-tab>
    <p-tab value="2" class="pi pi-user"></p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      @for (post of shuffledPosts; track $index) {
        <app-post [post]="post" />
      }
    </p-tabpanel>
    <p-tabpanel value="1">
      <!-- TODO: Actual saved posts -->
      @for (post of shuffledSavedPosts; track $index) {
        <app-post [post]="post" />
      }
    </p-tabpanel>
    <p-tabpanel value="2">
      <div class="flex flex-wrap gap-4">
        @for (user of (user$ | async)!.following; track $index) {
          <div [class]="`profile-card w-full text-center profile-${$index}`">
            <!-- Avatar icon -->
            <div class="profile-icon mb-3">
              <p-avatar
                [style]="{ width: '10rem', height: '10rem' }"
                [image]="user.pfpUrl"
                shape="circle"
                size="xlarge"
              />
            </div>
            <!-- Name & handle -->
            <h5 class="profile-name font-bold text-2xl">{{ user.username }}</h5>
            <p class="profile-bio">{{ user.bio }}</p>
          </div>
        }
      </div>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
