<div class="d-flex justify-content-center align-items-center">
  <h1 [style]="{ 'font-size': '5rem' }" class="">{{ counter$ | async }}</h1>
</div>
<br />
<div class="d-flex justify-content-center align-items-center gap-3">
  <p-button label="+" (onClick)="increment()" [size]="'large'" title="+" /><p-button
    label="-"
    (onClick)="decrement()"
    size="large"
  />
</div>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae natus incidunt similique iure
perferendis laboriosam sequi blanditiis recusandae, facere mollitia quasi voluptatem. Nesciunt
cupiditate quo similique provident ab doloremque sapiente?
