<div class="d-flex justify-content-center align-items-center">
  <h1 [style]="{ 'font-size': '5rem' }" class="">{{ counter$ | async }}</h1>
</div>
<br />
<div class="d-flex justify-content-center align-items-center gap-3">
  <p-button label="+" (onClick)="increment()" [size]="'large'" title="+" /><p-button
    label="-"
    (onClick)="decrement()"
    size="large"
  />
</div>
Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquam illo ea eos! Autem enim,
perferendis labore quis possimus ducimus velit molestiae nemo culpa adipisci repellendus voluptates
totam consectetur officia.
