img {
  width: 20rem;
  height: 35rem;
  object-fit: cover;
  margin: 0.2rem;
  transition: 200ms;
}
img:hover {
  filter: blur(0.1rem) brightness(75%);
}

div {
  display: inline-block;
}
.div-likes-count {
  z-index: 999;
  pointer-events: none;
  font-size: 2.4rem;
}
