img {
  width: 20rem;
  height: 35rem;
  object-fit: cover;
  margin: 0.2rem;
  filter: blur(0rem) brightness(100%);
}

div {
  display: inline-block;
}

.likes {
  pointer-events: none;
  opacity: 0;
  left: 50%;
  top: 50%;
  font-size: 3rem;
  z-index: 50;
  transform: translate(-25%, -25%);
}
