/* * {
  font-size: 2.4rem;
} */
.img-pfp {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
}

.div-profile-head {
  width: 20rem;
  gap: 2rem;
}

.img-story {
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  transition: 200ms;
}
.img-story:hover {
  filter: brightness(80%);
}

.div-profile-details {
  margin-left: 5rem;
  width: 100%;
  flex: 0 0 auto;
}
.div-stories {
  width: 90rem;
  overflow-x: scroll;
}

:host ::ng-deep .p-button-lg {
  width: 100%;
}
.div-action-button {
  width: 20rem;
}

.img-pfp--active {
  cursor: pointer;
  border: 3.5px solid #5d357a;
  padding: 0.3rem;
  transition: 200ms;
}
.img-pfp--active:hover {
  transform: scale(1.01);
}
