/* * {
  font-size: 2.4rem;
} */
.img-pfp {
  width: 20rem;
}
.div-profile-head {
  width: 20rem;
  gap: 2rem;
}

.img-story {
  width: 10rem;
}
.div-profile-details {
  margin-left: 5rem;
  width: 100%;
  flex: 0 0 auto;
}
.div-stories {
  width: 90rem;
  overflow-x: scroll;
}
