nav {
  height: 90vh;
  width: 20rem;
}

.span-search-username {
  font-size: 1.4rem;
}
.div-suggested-user {
  pointer-events: all;
}
:host,
:host ::ng-deep .p-component,
:host ::ng-deep .p-component::placeholder {
  font-size: 1.6rem;
}
:host ::ng-deep .p-menu {
  height: 100%;
  font-size: 2.2rem;
  border: none;
  background: transparent !important;
}
:host ::ng-deep .p-menu ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

:host ::ng-deep .p-menu-item-icon {
  font-size: 2rem !important;
}

:host ::ng-deep .p-menu .p-menu-item-link {
  margin-top: 2.8rem;
  margin-bottom: 0.8rem;
}

:host ::ng-deep .p-drawer-left {
  width: 100rem;
  background-color: rgb(21, 21, 21);
  border: transparent;
}
:host ::ng-deep .p-autocomplete-input,
:host ::ng-deep .p-inputwrapper,
:host ::ng-deep .p-autocomplete .p-component .p-inputwrapper,
:host ::ng-deep .p-autocomplete-input {
  width: 35rem;
}
:host ::ng-deep .p-autocomplete-option {
  pointer-events: all;
}
:host ::ng-deep .p-autocomplete-input,
:host ::ng-deep .p-autocomplete {
  width: 100%;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
}

:host ::ng-deep .p-autocomplete-input {
  width: 35rem;
}
