:host .header-container {
  height: 2rem;
}

@media (width < 319px) {
  :host .logo {
    transform: scale(1.2);
  }
}
@media (320px < width < 639px) {
  :host .logo {
    transform: scale(1.2);
  }
  :host .search-input {
    width: 5rem;
  }
}
:host svg {
  transform: scale(1.5);
}
